/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.path {
  shape-rendering: crispEdges;
  fill: none;
}

.bear {
stroke: red;
stroke-width: 2px;
}

.bull {
stroke: rgb(0, 170, 255);
stroke-width: 2px;
}

.input {
margin-top: 25px;
margin-bottom: 50px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: black;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: #c0faf4;
  stroke: #000;
  z-index: 5;
}

.tooltip-date, .tooltip-close {
  font-weight: bold;
}