<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Bulls and Bears Viz</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Bulls & Bears</a>

    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="../static/assets/css/images/Stock-Charts-7.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center green-text text-darken-3">Bulls & Bears</h1>
      <h3 class="header center green-text text-lighten-1">Visualization of Capital Markets</h3>
      <!-- <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div> -->
      <!-- <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div> -->
      <br>

    </div>
  </div>

  <div class = "container">
    <div class = "row center">

      <div class="col s12">

        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>The first chart displays S&P 500 prices from Jan 3, 2007 to Mar 25, 2019. The blue lines represent "bull" markets, whereas the red
                lines represent "bear markets". The market changes when prices rise above or fall below a certain threshold, usually 20%, from
                all-time lows and all-time highs respectively. The last 12 or so years have been defined by a sharp rise in index value, one of the
                strongest bull markets in history.
              </p>
              <p>
                The three histograms below the S&P 500 represent the distribution of 'absolute' daily price changes in the index - the first over the 
                entire range of data, the second only during bull markets, and the third only during bear markets. These help provide a picture of 
                'volatility' during times of boom and bust. Below, you can adjust the sensitivity of what defines a 'market change' (default 20).
              </p>
            </div>

            <div class="card-action">
              <div class = "input"></div>
  <div class = "container">
    <div class = "section">
      <div class = "row center">
        <div id = "sap500Chart1"></div>
      </div>
    </div>
  </div>


  <div class="section">

    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12 m4">
        <div id="sap500Chart2">
        </div>
      </div>

      <div class="col s12 m4">
        <div id ="sap500Chart3"></div>
      </div>

      <div class="col s12 m4">
        <div id = "sap500Chart4"></div>
      </div>

    </div> <!--class="row"-->

  </div>


  <!-- <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div> -->

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">roble.development@gmail.com</p>


        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <span class="orange-text text-lighten-3">Eduardo Landeros</span>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="https://unpkg.com/d3-fetch"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/assets/js/materialize.js"></script>
  <script src="../static/assets/js/init.js"></script>
  <!--<script src="../static/js/SAP500_2.js"></script> -->
  <script src="../static/js/SAP500_4.js"></script>


  </body>
</html>
